* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1f2937;
  font-family: "Inter";
  font-weight: 800;  
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin: auto;
  width: 80%;
  min-height: 100vh;
}

h1 {
  color: #ffffff;
  font-size: 40px;
}

.title-second-row {
  color: #4adf86;
  font-family: "Karla";

}

h2 {
  color: #D5D4D8;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
}

#generate-btn {
  background: #10b981;
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 50px;
  padding: 10px 20px;
  max-width: fit-content;
}

p {
  border: 1px solid #2f3e53;
  margin-top: 35px;
  margin-bottom: 35px;
}

.generated-passwords {
  display: flex;
  gap: 35px;
  justify-content: space-between;

  
}
.resulted-password {
  width: 50%;
  height: 40px;
  background: #273549;
  border-radius: 6px;
  padding: 5px 15px;
  color: #55f991;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
